@font-face {
    font-family: chillax-light;
    src: url(../fonts/Chillax/Fonts/OTF/Chillax-Light.otf);
}
@font-face {
    font-family: chillax-regular;
    src: url(../fonts/Chillax/Fonts/OTF/Chillax-Regular.otf);
}
@font-face {
    font-family: chillax-bold;
    src: url(../fonts/Chillax/Fonts/OTF/Chillax-Bold.otf);
}

:root {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0); 
    --foreground-color: rgba(141, 141, 141, 0.3); 
    --input-color: rgb(198, 198, 198); 
    --submit: rgb(47, 47, 47);
}

body, p, a{
    font-family: chillax-regular;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    justify-content: space-between;
}

footer{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 5vh;
    min-width: 90vw;
    max-width: 100vw;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    background-color: var(--foreground-color);
    p{
        font-size: 1.25rem;
        margin: auto;
    }
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 2rem;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    background-color: var(--foreground-color);
    height: 3vh;
    min-width: 0vw;
    max-width: 60vw;
    padding: 0.5rem;
    a{
        font-size: 1.25rem;
        padding: 0rem 1rem;
    }  
}

#index h1{
    font-size: 8rem;
    color:var(--text-color);
}

#index main p{
    font-size: 1.5rem;
    margin-left: 24rem;
    margin-right: 24rem;
}

#index {
    background-color: var(--background-color);
    text-align: center;
}

#login{
    background-color: var(--background-color);
    a{text-decoration: underline;}
}

#sign_up{
    background-color: var(--background-color);
    a{text-decoration: underline;}
}

#sign_up nav a, #login nav a{
    text-decoration: none;
}

#dashboard main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    div{
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
    }

    div div{
        background-color: var(--foreground-color);
        backdrop-filter: blur(50px);
        border-radius: 10px;
        padding: 0.5rem;
        width: 48%;
        height: 35vh;
        overflow: auto;
        margin: 0.5rem;

        .appr_depr{
            display: block;
            width:45%;
            table{
                font-size: 0.75rem;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                align-self:start;

            }
        }
        .small_table{
            display: block;
            font-size: 0.55rem;
            align-self:start;
        }

        div{
            display:block;
            height: 90%;
            width: 20%;
            text-align: center;
            font-size: 0.75rem;
        }
        .total{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 12%;
            width: 20%;
            overflow: hidden;
            font-size:0.55rem;
        }
        .category{
            height: 65% !important;
        }

    }
}

#graph{
    width: 65%;
    height: 100%;
}

#pie{
    width: 35%;
    height: 100%;
}

#assets{
    display: block !important;
    h2{
        font-size: 1.25rem;
    }
    table{
        display: flex !important;
        justify-content: center;
        width: 90% !important;
        font-size: 0.75rem;
        
    }
}

nav a, form a, table a, footer a{
    color: yellow;
}

#tutorial main{
    height: 80vh;
    div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--foreground-color);
    width: 70%;
    height: 100%;
    border-radius: 15px;
    h2{
        display: block;

    }
    }
}
main div div {
    max-height: 40vh; 
    overflow-y: auto; 
    
}

table {

    font-size: 1rem;
    display: block;
    width: 75%;
    border-collapse: collapse;
    margin: 0 auto;
    a{
        text-decoration: underline;
    }
}



thead {
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
}

th, td {
    padding: 0.5rem;
    text-align: left;
    min-width: 100%; 
}

th {
    text-align: center;
}

#logs main{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 90%;
        justify-content: center;
        
        div{
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 95%;
            max-height: 100%;
            background-color: var(--foreground-color);
            border-radius: 10px;
            backdrop-filter: blur(50px);
            margin: 0.5rem;
            padding: 0.5rem;
            justify-content: start !important;
            table{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.75rem;
            }
        }
    }

}

#insights{
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }
    div{
        width: 40%;
        height: 100%;
        padding-top: 0.5rem;
        background-color: var(--foreground-color);
        border-radius: 10px;
        backdrop-filter: blur(50px);
    }
}

#settings form{
    width: 12vw;;
    p{margin: 0.5rem;}
    
}


html{
    background-color: var(--background-color);
}

form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin:auto;
    width:40vw;
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    input{
        border: solid 1px var(--input-color);
        height: 3vh;
        width: 20vw;
        border-radius: 10px;
        padding: 0.25rem;
        font-family: chillax-regular;
        font-size: 1rem;
    }
}

#sign_up form{
    div{
        display: flex;
        flex-direction: row;
        padding-right: 0.5rem;
        padding-left: 0.5rem;;
    }
    div div{
        display: flex;
        flex-direction: column;
    }
}

#submit{
    margin-top:1rem;
    background-color: var(--submit);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    width: 5vw;
    height: 3vh;
}

#clear_data{
    margin-top:1rem;
    background-color: var(--submit);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    width: 6vw;
    height: 3vh;
}

#category{
    width: 20vw;
    height: 4vh;
    border-radius: 10px;
    border: solid 1px var(--input-color);
    font-family: Chillax-regular;
    padding: 0.25rem;
    font-size: 1rem;
}


::-webkit-scrollbar {
    width: 4px; 
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
