{% extends 'base.html' %}

{% block body_id %}edit_asset{% endblock %}

{% block nav %}

<a href="{{ url_for('index') }}">Home</a>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
<a href="{{ url_for('add_asset')}}">Add Asset</a>
<a href="{{ url_for('logout') }}">Logout</a>
<a href="{{ url_for('settings')}}">Settings</a>
<a href="{{ url_for('logs')}}">Logs</a>
<a href="{{ url_for('export')}}">Export</a>
<a href="{{ url_for('insights')}}">Insights</a>
<a href="{{ url_for('tutorial')}}">Tutorial</a>

{% endblock %}

{% block content %}



<form method="POST" action="" novalidate>

    <h1>Edit Asset</h1>

    <p>This won't be treated as an asset revaluation, but rather an error correction.</p>

    <div>
    {{form.hidden_tag()}}
    {{form.name.label}}
    {{form.name()}}
    {% for error in form.name.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{form.quantity.label}}
    {{form.quantity()}}
    {% for error in form.quantity.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    </div>
    <br/>

    <div>
    {{form.category.label}}
    {{form.category()}}
    {% for error in form.category.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{form.purchase_date.label}}
    {{form.purchase_date()}}
    {% for error in form.purchase_date.errors %}
        <p>{{ error }}</p>
    {% endfor %}
    </div>
    <br/>

    <div>
    {{form.purchase_price.label}}
    {{form.purchase_price()}}
    {% for error in form.purchase_price.errors %}
        <p>{{ error }}</p>
    {% endfor %}

    {{form.current_value.label}}
    {{form.current_value()}}
    {% for error in form.current_value.errors %}
        <p>{{ error }}</p>
    {% endfor %}
    </div>
    <br/>
    {{form.submit()}}
</form>

{% endblock %}